<p-dialog
  header="Member Details"
  [modal]="true"
  [(visible)]="visible"
  (onHide)="cancel()"
  [style]="{ width: '40rem' }"
  styleClass="member-details-dialog">

  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <h2 class="m-0">Member Details</h2>
      <span class="p-text-secondary">
        @if (!isNewMember) {
          {{ editInfoText }} {{ member?.firstName }} {{ member?.lastName }}.
        }
        @else if (isNewMember){
          {{ newInfoText }}
        }
      </span>
    </div>
  </ng-template>

  <div class="p-fluid">
    @if (member) {
      <div class="p-fluid">
        @if (member) {
          <div class="grid">
            <div class="field col-12 md:col-6">
              <div class="flex flex-column ">
                <label for="firstName">First Name</label>
                <input pInputText id="firstName" [(ngModel)]="member.firstName" />
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="lastName">Last Name</label>
                <input pInputText id="lastName" [(ngModel)]="member.lastName" />
              </div>
            </div>

            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="email">Email</label>
                <input pInputText type="email" id="email" [(ngModel)]="member.email" />
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="phone">Phone</label>
                <input pInputText id="phone" [(ngModel)]="member.phoneNumber" />
              </div>
            </div>

            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="schoolNo">School No</label>
                <input pInputText id="schoolNo" [(ngModel)]="member.memberNo" />
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="year">Year of Study</label>
                <p-select
                  [appendTo]="'body'"
                  id="status"
                  [options]="year_of_study"
                  [(ngModel)]="member.yearOfStudy"/>
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="department">Department</label>
                <p-autocomplete
                  id="department"
                  [appendTo]="'body'"
                  [(ngModel)]="member.department"
                  [suggestions]="filteredItems"
                  (completeMethod)="searchDepartment($event)"
                  [dropdown]="true"
                  placeholder="Start typing to search..."
                  forceSelection="true">
                </p-autocomplete>
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="faculty">Faculty</label>
                <p-autocomplete
                  id="faculty"
                  [appendTo]="'body'"
                  [(ngModel)]="member.faculty"
                  [suggestions]="filteredItems"
                  (completeMethod)="searchFaculty($event)"
                  [dropdown]="true"
                  placeholder="Start typing to search..."
                  forceSelection="true">
                </p-autocomplete>
              </div>
            </div>

            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="role">Role</label>
                <p-select
                  [appendTo]="'body'"
                  id="role"
                  [options]="clubRoles"
                  [(ngModel)]="member.role" />
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column  ">
                <label for="status">Status</label>
                <p-select
                  [appendTo]="'body'"
                  id="status"
                  [options]="memberStatus"
                  [(ngModel)]="member.membershipStatus"/>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>

  <ng-template pTemplate="footer">
    @if (!isNewMember) {
      <div class="footer-left">
        Database ID: {{ member?.id }}<br>
        Registration Date: {{ member?.registrationDate }}
      </div>
    }

    <p-button label="Cancel" severity="secondary" (click)="cancel()" />
    <p-button label="Save" (click)="save()" />
  </ng-template>

</p-dialog>
