<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="visible"
  (onHide)="cancel()"
  [style]="{ width: '40rem' }"
  styleClass="edit-profile-dialog">

  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <h2 class="m-0">Edit Profile</h2>
      <span class="p-text-secondary">Update the information of {{ member?.firstName }} {{ member?.lastName }}</span>
    </div>
  </ng-template>

  <div class="p-fluid">
    @if (member) {
      <div class="p-fluid">
        @if (member) {
          <div class="grid">
            <div class="field col-12 md:col-6">
              <div class="flex flex-column ">
                <label for="firstName">First Name</label>
                <input pInputText id="firstName" [(ngModel)]="member.firstName" />
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="lastName">Last Name</label>
                <input pInputText id="lastName" [(ngModel)]="member.lastName" />
              </div>
            </div>

            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="email">Email</label>
                <input pInputText type="email" id="email" [(ngModel)]="member.email" />
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="phone">Phone</label>
                <input pInputText id="phone" [(ngModel)]="member.phoneNumber" />
              </div>
            </div>

            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="schoolNo">School No</label>
                <input pInputText id="schoolNo" [(ngModel)]="member.memberNo" />
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="year">Year of Study</label>
                <input pInputText id="year" [(ngModel)]="member.yearOfStudy" />
              </div>
            </div>

            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="department">Department</label>
                <input pInputText id="department" [(ngModel)]="member.department" />
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="faculty">Faculty</label>
                <input pInputText id="faculty" [(ngModel)]="member.faculty" />
              </div>
            </div>

            <div class="field col-12 md:col-6">
              <div class="flex flex-column">
                <label for="role">Role</label>
                <p-select id="role" [options]="clubRoles" [(ngModel)]="member.role" />
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="flex flex-column  ">
                <label for="status">Status</label>
                <p-select id="status" [options]="memberStatus" [(ngModel)]="member.membershipStatus" />
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" severity="secondary" (click)="cancel()" />
    <p-button label="Save" (click)="save()" />
  </ng-template>

</p-dialog>
