<p-toast />

<div class="card flex justify-center item">

  <form [formGroup]="credentials" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full sm:w-56">

    <div class="flex flex-col gap-1">
      <input pInputText
             type="email"
             id="email"
             placeholder="Email"
             formControlName="email"
             [invalid]="isInvalid('email')" />

      @if (isInvalid('email')) {
        @if (credentials.get('email')?.errors?.['required']) {
          <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
        }
        @if (credentials.get('email')?.errors?.['email']) {
          <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
        }
      }

    </div>

    <div class="flex flex-col gap-1">
      <input pInputText
             type="password"
             id="password"
             placeholder="Password"
             formControlName="password"
             [invalid]="isInvalid('password')" />

      @if (isInvalid('password')) {
        <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
      }

    </div>

    <button pButton
            severity="secondary"
            type="submit">
      <span pButtonLabel>Login</span>
    </button>

  </form>
</div>
