<div class="flex justify-content-center my-4">
<p-card [style]="{width: '98%'}">

  <div class="flex justify-content-between align-items-center mb-4">
    <div class="flex gap-2">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
      <p-button type="button" icon="pi pi-refresh" (click)="loadMembers()" text />
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
    </div>

    <div class="flex align-items-center gap-2">

      <!--member role filter-->
      <p-multiselect  [options]="roleOptions"
                      [(ngModel)]="selectedRoles"
                      placeholder="Select Role"
                      class="w-full md:w-15rem"
                      display="chip"
                      filter="false"
                      (onChange)="applyFilters()">
      </p-multiselect>

      <!--member status filter-->
      <p-multiselect [options]="statusOptions"
                     [(ngModel)]="selectedStatus"
                     placeholder="Select Status"
                     class="w-full md:w-15rem"
                     display="chip"
                     filter="false"
                     (onChange)="applyFilters()">
      </p-multiselect>

      <!--search bar-->
      <p-iconfield iconPosition="left">
        <p-inputicon class="pi pi-search" />
        <input type="text"
               pInputText
               placeholder="Search"
               (input)="onSearch($event)" />
      </p-iconfield>
    </div>
  </div>

  <p-table
    [paginator]="true"
    [rows]="10"
    [first]="first"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [value]="filteredMembers"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
  >

    <ng-template #header>
      <tr>
        <th style="width:2%"></th>
        <th style="width:7%">DB ID</th>
        <th style="width:12%">School No</th>
        <th style="width:17%">Name Surname</th>
        <th style="width:15%">Role</th>
        <th style="width:10%">Register Date</th>
        <th style="width:8%">Status</th>
        <th style="width:5%">Actions</th>
        <th style="width:2%"></th>
      </tr>
    </ng-template>
    <ng-template #body let-member>
      <tr>
        <td></td>
        <td>{{ member.id }}</td>
        <td>{{ member.memberNo }}</td>
        <td>{{ member.firstName + " " + member.lastName }}</td>
        <td>{{ member.role }}</td>
        <td>{{ member.registrationDate }}</td>
        <td>{{ member.membershipStatus }}</td>
        <td>
          <p-button
            (click)="openEditDialog(member)"
            type="button"
            size="small"
            icon="pi pi-user-edit"
            pTooltip="Edit User"
            text/>

          <p-button
            (click)="expelMember(member)"
            type="button"
            size="small"
            icon="pi pi-user-minus"
            pTooltip="Delete User"
            text/>
        </td>
        <td></td>
      </tr>
    </ng-template>
    <ng-template #footer>
      <ng-template #paginatorleft>
        <p-button type="button" icon="pi pi-plus" text />
      </ng-template>
      <ng-template #paginatorright>
        <p-button type="button" icon="pi pi-cloud" text />
      </ng-template>
    </ng-template>
  </p-table>
</p-card>

@if (displayDialog && selectedMember) {
  <app-edit-dialog
    [(visible)]="displayDialog"
    [member]="selectedMember"
    (memberSaved)="onMemberSave($event)"
  />
}
</div>
